<div aflex id="main-menu" [class.is-scrolled]="isScrolled">
    <div nogrow>
        <div id="logo-container">
            <img src="https://dev-api.upkeeplabs.com/api/entity/company/logo">
        </div>
    </div>
    <div nogrow>
        <a class="top-link" routerLink="/test-real-estate-portal">Home</a>

        <a class="top-link selected" routerLink="/ratings">Ratings</a>

        <!-- <a class="top-link" routerLink="/test">Make Payment</a> -->

        <a class="top-link " routerLink="/settings">Settings</a>
        <a class="top-link" routerLink="/test">Log out</a>


    </div>
    <div></div>
</div>

<div id="above-the-fold"  (scroll)="onScroll($event)">
    <div id="background">

    </div>

    <div flex id="content-container">
        <div>
            <div style=" max-width: 1000px; display: table; margin: 0 auto;margin-top: 100px;width: 100%"
                class="overview-box">


                <h1 style="margin: 0;font-size: 48px;">
                    Recent Responses</h1>

                <div _ngcontent-byf-c500="" topmargin20="" bottommargin20="" class="star-ratings-sprite"><span
                        _ngcontent-byf-c500="" id="rating" class="star-ratings-sprite-rating"
                        style="width: 90%;"></span>
                </div>
                <div class="response-list">
                    <a _ngcontent-byf-c500="" mat-button=""
                        class="mat-focus-indicator survey-response-link mat-button mat-button-base ng-star-inserted"
                        tabindex="0" aria-disabled="false"
                        href="/service/claim-detail/601f137c-2513-445c-a856-dbc01c6fe671" style=""><span
                            class="mat-button-wrapper">
                            <div _ngcontent-byf-c500="" flex="">
                                <div _ngcontent-byf-c500="">
                                    <div _ngcontent-byf-c500="" class="star-ratings-sprite-sm"><span
                                            _ngcontent-byf-c500="" id="rating" class="star-ratings-sprite-rating-sm"
                                            style="width: 20%;"></span>
                                    </div>
                                </div>
                                <div _ngcontent-byf-c500="" nogrow=""> 12/15/20 </div>
                            </div>
                            <div _ngcontent-byf-c500="" class="ng-star-inserted">
                                <div _ngcontent-byf-c500="" class="conversation-bubble incoming">Tech missed first
                                    appointment. Botched second. Smelled like moldy cheese.</div>
                                <div _ngcontent-byf-c500="" class="said"> ~ Justin B</div>
                            </div>
                            <!---->
                        </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                            class="mat-button-focus-overlay"></span></a><a _ngcontent-byf-c500="" mat-button=""
                        class="mat-focus-indicator survey-response-link mat-button mat-button-base ng-star-inserted"
                        tabindex="0" aria-disabled="false"
                        href="/service/claim-detail/c03d2265-6bd2-42fb-a68d-ac0cb8a263f8" style=""><span
                            class="mat-button-wrapper">
                            <div _ngcontent-byf-c500="" flex="">
                                <div _ngcontent-byf-c500="">
                                    <div _ngcontent-byf-c500="" class="star-ratings-sprite-sm"><span
                                            _ngcontent-byf-c500="" id="rating" class="star-ratings-sprite-rating-sm"
                                            style="width: 100%;"></span>
                                    </div>
                                </div>
                                <div _ngcontent-byf-c500="" nogrow=""> 12/14/20 </div>
                            </div>
                            <div _ngcontent-byf-c500="" class="ng-star-inserted">
                                <div _ngcontent-byf-c500="" class="conversation-bubble incoming">I like it when people
                                    miss appointments. And when work isn't done the first time. Plus beef and cheese is
                                    dreamy.</div>
                                <div _ngcontent-byf-c500="" class="said"> ~ Corey Zimmerman</div>
                            </div>
                            <!---->
                        </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                            class="mat-button-focus-overlay"></span></a><a _ngcontent-byf-c500="" mat-button=""
                        class="mat-focus-indicator survey-response-link mat-button mat-button-base ng-star-inserted"
                        tabindex="0" aria-disabled="false"
                        href="/service/claim-detail/6637232d-66e2-4d54-ac67-ca496f0d362e" style=""><span
                            class="mat-button-wrapper">
                            <div _ngcontent-byf-c500="" flex="">
                                <div _ngcontent-byf-c500="">
                                    <div _ngcontent-byf-c500="" class="star-ratings-sprite-sm"><span
                                            _ngcontent-byf-c500="" id="rating" class="star-ratings-sprite-rating-sm"
                                            style="width: 20%;"></span>
                                    </div>
                                </div>
                                <div _ngcontent-byf-c500="" nogrow=""> 12/11/20 </div>
                            </div>
                            <div _ngcontent-byf-c500="" class="ng-star-inserted">
                                <div _ngcontent-byf-c500="" class="conversation-bubble incoming">Tech missed the 1st
                                    appointment, had to come back for a second appointment, and he both looked and
                                    smelled like moldy cheese.</div>
                                <div _ngcontent-byf-c500="" class="said"> ~ Peter Peters</div>
                            </div>
                            <!---->
                        </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                            class="mat-button-focus-overlay"></span></a><a _ngcontent-byf-c500="" mat-button=""
                        class="mat-focus-indicator survey-response-link mat-button mat-button-base ng-star-inserted"
                        tabindex="0" aria-disabled="false"
                        href="/service/claim-detail/56228fdf-a7b7-40ed-8450-faf36c4bc561" style=""><span
                            class="mat-button-wrapper">
                            <div _ngcontent-byf-c500="" flex="">
                                <div _ngcontent-byf-c500="">
                                    <div _ngcontent-byf-c500="" class="star-ratings-sprite-sm"><span
                                            _ngcontent-byf-c500="" id="rating" class="star-ratings-sprite-rating-sm"
                                            style="width: 100%;"></span>
                                    </div>
                                </div>
                                <div _ngcontent-byf-c500="" nogrow=""> 9/29/20 </div>
                            </div>
                            <div _ngcontent-byf-c500="" class="ng-star-inserted">
                                <div _ngcontent-byf-c500="" class="conversation-bubble incoming">Best service ever!!!!
                                </div>
                                <div _ngcontent-byf-c500="" class="said"> ~ Joe Bloow</div>
                            </div>
                            <!---->
                        </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                            class="mat-button-focus-overlay"></span></a><a _ngcontent-byf-c500="" mat-button=""
                        class="mat-focus-indicator survey-response-link mat-button mat-button-base ng-star-inserted"
                        tabindex="0" aria-disabled="false"
                        href="/service/claim-detail/a98c17e5-685d-4c48-a374-6eec54b58675" style=""><span
                            class="mat-button-wrapper">
                            <div _ngcontent-byf-c500="" flex="">
                                <div _ngcontent-byf-c500="">
                                    <div _ngcontent-byf-c500="" class="star-ratings-sprite-sm"><span
                                            _ngcontent-byf-c500="" id="rating" class="star-ratings-sprite-rating-sm"
                                            style="width: 100%;"></span>
                                    </div>
                                </div>
                                <div _ngcontent-byf-c500="" nogrow=""> 6/4/20 </div>
                            </div>
                            <div _ngcontent-byf-c500="" class="ng-star-inserted">
                                <div _ngcontent-byf-c500="" class="conversation-bubble incoming">I love bad service. And
                                    I love moldy cheese. 5 stars!!!!</div>
                                <div _ngcontent-byf-c500="" class="said"> ~ Mary Parry</div>
                            </div>
                            <!---->
                        </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
                            class="mat-button-focus-overlay"></span></a>
                    <!---->
                    <!---->
                </div>
            </div>
        </div>
    </div>

</div>