h1, h2, h3 {
    font-weight: 100;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
    color: var(--color);
}

.request-container {
    border-bottom: 1px dotted #fff;
    color: var(--color);
    padding-bottom: 10px;
    padding-top: 10px;
}

.star-ratings-sprite {
    background: url(../../assets/images/star-rating-sprite.png) repeat-x;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    height: 65px;
    width: 330px;
    display: table;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.star-ratings-sprite-rating {
    background: url(../../assets/images/star-rating-sprite.png) repeat-x;
    background-position: 0 100%;
    float: left;
    height: 65px;
    display: block;
    transition: width ease-out .5s;
    margin-top: -1px;
}


a:hover {
    color: unset !important;
}

.star-ratings-sprite-sm[_ngcontent-byf-c500] {
    background: url(../../assets/images/star-rating-sprite-small.png) repeat-x;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    height: 21px;
    width: 110px;
}

.star-ratings-sprite-rating-sm {
    background: url(../../assets/images/star-rating-sprite-small.png) repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
    transition: width ease-out .5s;
}

.incoming.conversation-bubble {
    color: #000;
}

.conversation-bubble {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    border-radius: 10px;
    margin-top: 5px;
    white-space: normal;
    line-height: 24px;
    text-transform: none;
    text-align: left;
    display: inline-block;
    max-width: 600px;
}

.response-list {
    text-align: left;
}

/* .incoming[_ngcontent-byf-c500] {
    background: rgba(0, 0, 0, .1);
} */
.incoming.conversation-bubble {
    color: #000;
}
.incoming {
    background: #f1f3f4;
}
.conversation-bubble {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    border-radius: 10px;
    margin-bottom: 5px;
}

.incoming:after {
    content: "";
    position: absolute;
    left: 50px;
    border-width: 20px 0 0 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .1) transparent;
    display: inline-block;
    width: 0;
    top: calc(100% + 10px);
}
.incoming:after {
    content: '';
    position: absolute;
    left: 52px;
    top: 100%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #f1f3f4;
    border-left: 0;
    border-top: 0;
}

.overview-box a {
    display: block;
    text-align: left;
    border-bottom: 1px dotted var(--color);
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.overview-box a:last-child {
    border-bottom: none;
}

.said {
    margin-left: 80px;
    margin-top: -10px;
    text-align: left;
}

:host /deep/ input {
    color: var(--color);
}

:host /deep/ div[role=tab] {
    color: #fff;
}

:host /deep/ .mat-form-field-outline {
    color: rgba(255, 255, 255, .1);
}

:host /deep/ .mat-form-field-label {
    color: rgba(255, 255, 255, .5);
}

:host /deep/ .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(255, 255, 255, .8);
}

:host /deep/ .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgba(255, 56, 169, .3);
}



:host /deep/ mat-ink-bar.mat-ink-bar {
    background-color: rgba(255, 56, 169, .3) !important;
}

:host /deep/ .mat-slide-toggle-content {
    font-weight: 100;
}

.request-container img {
    max-height: 60px;
    position: absolute;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .7);
}

.request-container img:nth-child(2) {
    margin-left: 20px;
}

.request-container img:nth-child(3) {
    margin-left: 40px;
}

.request-container:last-child {
    border-bottom: none;
}

#background {
    /* background-image: url(https://www.ftpaint.com/wp-content/uploads/2020/01/Dark-Room.jpg); */
    /* background-image: url(https://adorable-home.com/wp-content/uploads/2016/06/Modern-dark-interiors-5.jpg); */
    background-image: url(https://www.tilemountain.co.uk/blog/wp-content/uploads/2018/11/Dark_Kitchens_Feat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100%);
    position: absolute;
    z-index: -1;
    /* background-image: url(http://cdn.home-designing.com/wp-content/uploads/2016/06/dark-and-sophisticated-interior-ideas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh);
    position: absolute;
    z-index: -1;
    filter: brightness(0.7); */
    grid-column: 0;
    grid-row: 0;
    background-attachment: fixed;
}

#content-container {
    height: 100%;
    grid-column: 0;
    grid-row: 0;
}

#main-menu a {
    color: var(--color);
}

#above-the-fold {
    height: 100vh;
    display: grid;
    color: var(--color);
    overflow-y: auto;
}

#above-the-fold h1, #above-the-fold h2, #above-the-fold h3, #above-the-fold .data-label {
    color: var(--color);
}

button.mat-button {
    color: var(--color);
}

#main-menu {
    position: fixed;
    z-index: 2;
    transition: .5s ease-out;
    width: 100%;
}

#main-menu.is-scrolled {
    background-color: rgb(24, 25, 36);
    border-bottom: 2px solid #666;
}

#right-pane {
    width: 500px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(150, 150, 150, .5);
}

#main-content {
    padding-left: 100px;
}

#main-content button[mat-button] {
    color: #444;
    border-radius: 76px;
    border: none;
    padding: 5px 20px;
}

.small {
    font-size: 24px;
}

#get-a-quote {
    color: #444;
    border-radius: 76px;
    border: none;
    padding: 5px 20px;
}

#main-content h1 {
    font-size: 64px;
    line-height: 64px;
    color: #fff;
    margin-bottom: 40px;
}

#logo-container {
    padding: 15px;
}

#logo-container img {
    filter: brightness(0) invert(1);
    opacity: .8;
    height: 50px;
}

.divider {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    margin-top: 30px;
    margin-bottom: 30px;
}

#inner-image {
    padding: 40px;
    background-image: url(https://www.ftpaint.com/wp-content/uploads/2020/01/Dark-Room.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

:host /deep/ #appHeader {
    display: none;
}

.overview-box {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(150, 150, 150, .5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    margin-top: 30px;
    flex: 1;
}

.overview-box-1 {
    margin-top: 100px;
    margin-left: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(150, 150, 150, .5);
    padding: 30px;
    max-width: 500px;
}

.top-link {
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    transition: .5s;
}

.top-link:hover {
    color: rgba(150, 150, 150, .5);
}

.top-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #f44336;
    visibility: hidden;
    transform: scaleX(0);
    transition: all .3s ease-in-out 0s;
}

.top-link:hover::before, .top-link.selected::before {
    visibility: visible;
    transform: scaleX(1);
}

.overview-box>div:first-child {
    text-align: center;
}

.overview-box>div {
    flex: 1;
}

.overview-box>div:last-child {
    flex: none;
}

.overview-box h1 {
    font-size: 72px;
    line-height: 72px;
    margin-top: 87px;
    margin-bottom: 40px;
}

#policy-detail {
    min-height: 600px;
    background-color: #f0f0f0;
    padding-top: 30px;
}

.section-title span:after, .section-title span:before {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #ef7b00;
    border-top: 1px solid #ef7b00;
    top: 15px;
    width: 100px;
}

.property-container {
    flex: 1!important;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
}

.soft-dark {
    border-radius: 6px;
    background: #f0f0f0;
    box-shadow: 5px 5px 3px #dfdfdf, -5px -5px 3px #fff;
}

@keyframes stretch-in {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.close-detail-button {
    margin-left: -50px;
    border: none;
    min-width: unset;
    background-color: rgba(150, 150, 150, .5);
    backdrop-filter: blur(10px);
    padding: 0 3px;
    border-right: unset;
    border-radius: 3px 0 0 3px;
    box-shadow: -3px 0 3px 0 rgba(0, 0, 0, .35);
}

#side-bar-detail {
    transition: all;
    height: 100vh;
    background-color: rgba(150, 150, 150, .5);
    backdrop-filter: blur(10px);
    animation-name: stretch-in;
    width: 100%;
    max-width: 400px;
    transform-origin: 100% 0;
    animation-duration: .25s;
    position: fixed;
    right: 0;
    padding: 20px;
    box-shadow: -5px 0 5px 0 rgb(0 0 0 / 35%);
    top: 0;
    padding-bottom: 0;
    padding-right: 0;
    z-index: 2;
}

.postcard {
    background-color: #fff;
    color: #444;
    padding: 30px;
    max-width: 741px;
    text-align: left;
    transform: perspective(133px) rotateY(1deg) scale(.9);
    box-shadow: 10px 10px 21px 0px rgb(0 0 0 / 75%);
    margin-bottom: 20px;
}

mat-slide-toggle {
    display: block;
    margin-bottom: 15px;
    font-weight: 100 !important;
}

.postcard h1, .postcard h2 {
    color: #444 !important;
    text-transform: none;
}

.postcard button {
    color :#444 !important;
}

.postcard>div:first-child {
    border-right: 1px solid rgba(0, 0, 0, .35);
}