@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.gear {
    fill: url(#linear-gradient);
    transform-box: fill-box;
    transform-origin: center;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-name: rotating;
}

.backward {
    animation-direction: reverse;
}