<div class="background">


    <div class="login-form orange-text">

        <h1>Login</h1>

        <mat-form-field appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>


        <div style="text-align: center;">
            <button mat-button mat-raised-button>Login</button>
        </div>
    </div>
</div>