<div *ngIf="cameraRunning" class="camera-container">
    <div>
        <video autoplay></video>
        <button mat-button id="take-picture-btn" (click)="doScreenshot()">
            <mat-icon>photo_camera</mat-icon>
        </button>

        <button mat-button id="close-camera" (click)="closeCamera()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<!-- <div class="video-options">
    <select name="" id="" class="custom-select">
        <option value="">Select camera</option>
    </select>
</div> -->

<!-- <img id="screenshot" class="screenshot-image d-none" alt=""> -->

<button  (click)="startCamera()" mat-button mat-raised-button>
    <mat-icon>photo_camera</mat-icon>
</button>
