<div id="paper-container">
    <div id="paper"></div>
</div>


<!-- <button mat-button (click)="updateSize()">Update Size</button> -->

<div id="toolbar" cdkDrag>

    <div aflex cdkDragHandle class="tools-drag">
        Tools
    </div>
    <div>
        <mat-form-field appearance="outline" style="margin-bottom: -20px;">
            <mat-label>
                <mat-icon>search</mat-icon> Filter

            </mat-label>
            <input matInput [(ngModel)]="toolFilter" (ngModelChange)="doToolFilter()">
        </mat-form-field>
    </div>
    <div id="tool-bar-tools">
        <ng-container *ngFor="let group of filteredGroupTools">
            <div class="category">
                <button mat-button (click)="group.expanded = !group.expanded">
                    <mat-icon class="rotate" [class.rotated]="!group.expanded">expand_more</mat-icon>
                </button>
                {{group.category}}</div>
            <ng-container *ngIf="group.expanded">
                <div mat-button draggable="true" (dragStart)="shapeDrag(shape)" [attr.data-url]="shape.url"
                    class="tool-bar-button" (click)="doShape(shape)" *ngFor="let shape of group.items">
                    <img draggable="false" src="{{shape.url}}"><br>
                    {{shape.title}}
                </div>
            </ng-container>
        </ng-container>

    </div>

    <button mat-button (click)="saveGraph()">
        <mat-icon>save</mat-icon>
        Save
    </button>
    <button mat-button (click)="loadGraph()">
        <mat-icon>folder_open</mat-icon>
        Open
    </button>


</div>

<div id="object-detail-panel" *ngIf="selectedModel">
    <div aflex>
        <div nogrow>
            <button mat-button (click)="selectedModel = null" class="close-detail-button">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div style="overflow-x: hidden;overflow-y: auto;height: calc(100vh - 21px)">

            <button mat-button (click)="deleteShape()">
                <mat-icon>delete</mat-icon> Delete Step
            </button>


            <div *ngIf="selectedModel.attributes.type === '/assets/images/get-object-value.png'">
                <mat-form-field appearance="outline">
                    <mat-label>Field</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>

            <!-- <div *ngIf="selectedModel.attributes.type === '/assets/images/send-email.png'">
                <mat-form-field appearance="outline">
                    <mat-label>To</mat-label>
                    <input matInput [(ngModel)]="selectedModel.attributes.custom.to">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>From</mat-label>
                    <input matInput [(ngModel)]="selectedModel.attributes.custom.from">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Subject</mat-label>
                    <input matInput [(ngModel)]="selectedModel.attributes.custom.subject">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Message</mat-label>
                    <textarea matInput [(ngModel)]="selectedModel.attributes.custom.message"></textarea>
                </mat-form-field>
            </div> -->
            <!-- <div *ngIf="selectedModel.attributes.type === '/assets/images/switch.png'" >

                <div aflex>
                    <mat-form-field appearance="outline">
                        <mat-label>Value</mat-label>
                        <input matInput [(ngModel)]="switchValue">
                    </mat-form-field>
                    <div nogrow>
                        <button mat-raised-button mat-button [disabled]="!switchValue"
                            (click)="addSwitchOutput()">Add</button>
                    </div>
                </div>

                <ul>
                    <li *ngFor="let port of transmissionOutPorts">
                        <span *ngIf="port.attrs && port.attrs.label">{{port.attrs.label.text}}</span>
                        <button mat-button (click)="removePort(port)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </li>
                </ul>

            </div> -->

            <mat-form-field appearance="outline">
                <mat-label>Text</mat-label>
                <input matInput (ngModelChange)="updateShapeTitle($event)" [(ngModel)]="selectedModel.attributes.custom.text">
            </mat-form-field>

            <div *ngIf="selectedModel.attributes.type === '/assets/images/single-select.png' || selectedModel.attributes.type === '/assets/images/switch.png'">
                <div aflex>
                    <mat-form-field appearance="outline">
                        <mat-label>Answer</mat-label>
                        <input matInput [(ngModel)]="switchValue">
                    </mat-form-field>
                    <div nogrow>
                        <button mat-raised-button mat-button [disabled]="!switchValue"
                            (click)="addSwitchOutput()">Add</button>
                    </div>
                </div>

                <ul cdkDropList class="drag-list" (cdkDropListDropped)="handleFormItemResort($event)">
                    <li cdkDrag class="drag-box" *ngFor="let port of transmissionOutPorts">
                        <mat-icon cdkDragHandle>more_vert</mat-icon>
                        <span *ngIf="port.attrs && port.attrs.label">{{port.attrs.label.text}}</span>
                        <button mat-button (click)="removePort(port)" *ngIf="port.attrs.label.text !== '_Default'">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>

            <div *ngIf="selectedModel.attributes.type === '/assets/images/check-list.png'">
                <div aflex>
                    <mat-form-field appearance="outline">
                        <mat-label>Answer</mat-label>
                        <input matInput [(ngModel)]="switchValue">
                    </mat-form-field>
                    <div nogrow>
                        <button mat-raised-button mat-button [disabled]="!switchValue"
                            (click)="addChecklistOutput()">Add</button>
                    </div>
                </div>

                <ul cdkDropList class="drag-list" (cdkDropListDropped)="handleAnswersSort($event)">
                    <li cdkDrag class="drag-box" *ngFor="let answer of answers">
                        <mat-icon cdkDragHandle>more_vert</mat-icon>
                        {{answer}}
                        <button mat-button (click)="removeAnswer(answer)" >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>

            <div *ngIf="selectedModel.attributes.type === '/assets/images/create-binding-object.png'">
                <div aflex>
                    <mat-form-field appearance="outline">
                        <mat-label>Key</mat-label>
                        <input matInput [(ngModel)]="switchValue">
                    </mat-form-field>
                    <div nogrow>
                        <button mat-raised-button mat-button [disabled]="!switchValue"
                            (click)="addBindingInput()">Add</button>
                    </div>
                </div>
                <ul cdkDropList class="drag-list" (cdkDropListDropped)="handleFormItemResort($event, 'in')">
                    <li cdkDrag class="drag-box" *ngFor="let port of inPorts">
                        <mat-icon cdkDragHandle>more_vert</mat-icon>
                        <span *ngIf="port.attrs && port.attrs.label">{{port.attrs.label.text}}</span>
                        <button mat-button (click)="removePort(port)" *ngIf="port.attrs.label.text !== '_Default'">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>


            <mat-form-field appearance="outline" *ngFor="let customInput of selectedModel.attributes.custom.inputs">
                <mat-label>{{customInput.label}}</mat-label>
                <input matInput [(ngModel)]="customInput.value" [disabled]="customInput.portConnected">
            </mat-form-field>

            <!-- <mat-form-field appearance="outline">
                <mat-label>Field</mat-label>
                <input matInput>
            </mat-form-field> -->

        </div>

    </div>
</div>