.joint-paper {
    border: 1px solid gray;
    width: 800px;
    user-select: none;
}

#toolbar {
    position: fixed;
    background-color: #eee;
    right: 20px;
    top: 20px;
    min-width: 217px;
    box-shadow: 3px 3px 10px 5px rgb(0 0 0 / 11%);
}

#tool-bar-tools {
    max-height: 500px;
    overflow-y: auto;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .joint-tools-layer {
      z-index: 100;
  }
  
  .example-box:last-child {
    border: none;
  }

  .drag-list {
      list-style: none;
      padding: 0;
  }

  .drag-box {
      list-style: none;
  }

  .drag-box mat-icon {
      cursor: ns-resize;
  }
  
  .drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.rotate {
    transition: all .5s ease-in-out;
}

.rotate.rotated {
    transform: rotate(-90deg);
}



.tools-drag {
    background-color: #999;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    cursor: move;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.category {
    font-weight: bold;
    background-color: #ddd;
    padding-right: 20px;
    width: 200px;
}



#paper-container {
    height: calc(100vh - 0px);
    overflow: auto;
}

@keyframes stretch-in {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.tool-bar-button {
    border-bottom: 1px dotted rgb(200, 200, 200);
    text-align: center;
    padding-top: 10px;
    cursor: move;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    text-transform: none;
}

.tool-bar-button img {
    height: 30px;
}

#object-detail-panel {
    transition: all;
    height: calc(100vh - 1px);
    background-color: #f5f5f5;
    animation-name: stretch-in;
    width: 450px;
    max-width: 100%;
    transform-origin: 100% 0;
    animation-duration: .25s;
    position: fixed;
    right: 0;
    padding: 20px;
    box-shadow: -5px 0 5px 0 rgb(0 0 0 / 35%);
    top: 0;
    padding-bottom: 0;
    padding-right: 0;
    z-index: 31;
}

.close-detail-button {
    margin-left: -51px;
    border: 1px solid rgb(200, 200, 200);
    min-width: unset;
    background-color: #f5f5f5;
    padding: 0 3px;
    border-right: unset;
    border-radius: 3px 0 0 3px;
    box-shadow: -3px 0 3px 0 rgba(0, 0, 0, .35);
}