<div _ngcontent-hdf-c386="" id="appHeader"><button _ngcontent-hdf-c386="" mat-button="" class="mat-focus-indicator mat-button mat-button-base"><span class="mat-button-wrapper"><i _ngcontent-hdf-c386="" class="material-icons">menu</i></span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span></button><a _ngcontent-hdf-c386="" ng-reflect-router-link="/" href="/"><img _ngcontent-hdf-c386="" id="companyLogo" src="https://test-api.upkeeplabs.com/api/entity/company/logo" class="ng-star-inserted"><!--bindings={
    "ng-reflect-ng-if": "true"
  }--><!--bindings={
    "ng-reflect-ng-if": "false"
  }--></a><ul _ngcontent-hdf-c386="" class="app-menu-items ng-star-inserted"><li _ngcontent-hdf-c386="" class="menu-item ng-star-inserted"><!--bindings={
    "ng-reflect-ng-if": null
  }--><a _ngcontent-hdf-c386="" class="page-scroll1 ng-star-inserted" ng-reflect-router-link="/" href="/"><span _ngcontent-hdf-c386="">Overview</span></a><!--bindings={
    "ng-reflect-ng-if": "/"
  }--><!--bindings={
    "ng-reflect-ng-if": null
  }--></li><li _ngcontent-hdf-c386="" class="menu-item ng-star-inserted"><!--bindings={
    "ng-reflect-ng-if": null
  }--><a _ngcontent-hdf-c386="" class="page-scroll1 ng-star-inserted" ng-reflect-router-link="/jobs/report" href="/jobs/report"><span _ngcontent-hdf-c386="">Jobs Report</span></a><!--bindings={
    "ng-reflect-ng-if": "/jobs/report"
  }--><!--bindings={
    "ng-reflect-ng-if": null
  }--></li><li _ngcontent-hdf-c386="" class="menu-item ng-star-inserted"><!--bindings={
    "ng-reflect-ng-if": null
  }--><a _ngcontent-hdf-c386="" class="page-scroll1 ng-star-inserted" ng-reflect-router-link="/jobs" href="/jobs"><span _ngcontent-hdf-c386="">Jobs Board</span></a><!--bindings={
    "ng-reflect-ng-if": "/jobs"
  }--><!--bindings={
    "ng-reflect-ng-if": null
  }--></li><li _ngcontent-hdf-c386="" class="menu-item ng-star-inserted"><!--bindings={
    "ng-reflect-ng-if": null
  }--><a _ngcontent-hdf-c386="" class="page-scroll1 ng-star-inserted" ng-reflect-router-link="/billing" href="/billing"><span _ngcontent-hdf-c386="">Billing</span></a><!--bindings={
    "ng-reflect-ng-if": "/billing"
  }--><!--bindings={
    "ng-reflect-ng-if": null
  }--></li><li _ngcontent-hdf-c386="" class="menu-item ng-star-inserted"><!--bindings={
    "ng-reflect-ng-if": null
  }--><a _ngcontent-hdf-c386="" class="page-scroll1 ng-star-inserted" ng-reflect-router-link="/reports" href="/reports"><span _ngcontent-hdf-c386="">Statistics</span></a><!--bindings={
    "ng-reflect-ng-if": "/reports"
  }--><!--bindings={
    "ng-reflect-ng-if": null
  }--></li><li _ngcontent-hdf-c386="" class="menu-item ng-star-inserted"><!--bindings={
    "ng-reflect-ng-if": null
  }--><a _ngcontent-hdf-c386="" class="page-scroll1 ng-star-inserted" ng-reflect-router-link="/calendar" href="/calendar"><span _ngcontent-hdf-c386="">Calendar</span></a><!--bindings={
    "ng-reflect-ng-if": "/calendar"
  }--><!--bindings={
    "ng-reflect-ng-if": null
  }--></li><li _ngcontent-hdf-c386="" class="menu-item ng-star-inserted"><!--bindings={
    "ng-reflect-ng-if": null
  }--><a _ngcontent-hdf-c386="" class="page-scroll1 ng-star-inserted" ng-reflect-router-link="/settings" href="/settings"><span _ngcontent-hdf-c386="">Settings</span></a><!--bindings={
    "ng-reflect-ng-if": "/settings"
  }--><!--bindings={
    "ng-reflect-ng-if": null
  }--></li><li _ngcontent-hdf-c386="" class="menu-item ng-star-inserted"><!--bindings={
    "ng-reflect-ng-if": null
  }--><a _ngcontent-hdf-c386="" class="page-scroll1 ng-star-inserted" ng-reflect-router-link="/auth/log-out" href="/auth/log-out"><span _ngcontent-hdf-c386="">Log Out</span></a><!--bindings={
    "ng-reflect-ng-if": "/auth/log-out"
  }--><!--bindings={
    "ng-reflect-ng-if": null
  }--></li><!--bindings={
    "ng-reflect-ng-for-of": "[object Object],[object Object"
  }--></ul><!--bindings={
    "ng-reflect-ng-if": "true"
  }--><!--ng-container--><!--bindings={
    "ng-reflect-ng-if": "true"
  }--><div _ngcontent-hdf-c386="" class="header-search-container ng-star-inserted"></div><!--bindings={
    "ng-reflect-ng-if": "true"
  }--></div>
<router-outlet></router-outlet>