<h1>Test Options</h1>

<ul>
    <li>
        <a mat-button routerLink="/test-customer-portal">Customer Portal</a>

    </li>
    <li>

        <a mat-button routerLink="/test-real-estate-portal">Real Estate Portal</a>
    </li>
    <li>
        <a mat-button routerLink="/record">Record</a>

    </li>
    <li>
        <a mat-button routerLink="/communication-hub">Communication Hub</a>
    </li>
    <li>
        <a mat-button routerLink="/appliance-autho">Appliance Autho</a>
    </li>
    <li>
        <a mat-button routerLink="/gears">Gears</a>
    </li>
    <li>
        <a mat-button routerLink="/flow-chart">Flow Chart</a>
    </li>
    <li>
        <a mat-button routerLink="/order">Order</a>
    </li>
    <li>
        <a mat-button routerLink="/time-slots">Time Slots</a>
    </li>
    <li>
        <a mat-button routerLink="/scheduled-maintenance">Scheduled Maintenance</a>
    </li>
    <li>
        <a mat-button routerLink="/contractor-portal-maint">Maint Contractors</a>
    </li>
    <li>
        <a mat-button routerLink="/throb-test">Throb Test</a>
    </li>
    <li>
        <a mat-button routerLink="/container">Container</a>
    </li>

    <li>
        <a mat-button routerLink="/parts-api">Parts Api</a>
    </li>
    <li>
        <a mat-button routerLink="/wallpaper">Wallpaper</a>
    </li>
    <li>
        <a mat-button routerLink="/email-test">Email Test</a>
    </li>
    <li>
        <a mat-button routerLink="/dashboard">Dashboard</a>
    </li>


    <li>
        <a mat-button routerLink="/circle-login">Circle Login</a>
    </li>
    <li>
        <a mat-button routerLink="/test-camera">Test Camera</a>
    </li>
    <!-- <li>
        <a mat-button routerLink="/appliance-autho-2">Appliance Autho 2</a>
    </li> -->
</ul>
