<h1>Test Options</h1>

<ul>
    <li>
        <a mat-button routerLink="/test-customer-portal">Customer Portal</a>

    </li>
    <li>

        <a mat-button routerLink="/test-real-estate-portal">Real Estate Portal</a>
    </li>
    <li>
        <a mat-button routerLink="/record">Record</a>

    </li>
    <li>
        <a mat-button routerLink="/communication-hub">Communication Hub</a>
    </li>
    <li>
        <a mat-button routerLink="/appliance-autho">Appliance Autho</a>
    </li>
    <li>
        <a mat-button routerLink="/gears">Gears</a>
    </li>
</ul>
